<div class="header-layout">
  <img class="header-logo" src="assets/images/logo.png" (click)="goLink('https://www.littlesun365.com/')">
  <span class="header-links" *ngIf="!isPhone">
    <a href="https://www.littlesun365.com/website/product_list/1/7/0">基 礎 教 育 拼 圖 系 列</a>
    <a href="https://www.littlesun365.com/website/product_list/2/21/0">有 聲 書 系 列</a>
    <a href="https://www.littlesun365.com/website/product_list/3/11/0">生 活 自 理 順 序</a>
    <a href="https://www.littlesun365.com/website/product_list/4/24/0">情 境 表 達 圖 卡</a>
    <a href="https://www.littlesun365.com/website/product_list/5/15/0">分 類 配 對 圖 卡</a>
    <img src="assets/images/fb-icon.png" (click)="goLink('https://www.facebook.com/littlesun365/', true)">
  </span>
  <span class="breadcrumbs" *ngIf="isPhone" (click)="showMenu()">
    <span></span>
    <span></span>
    <span></span>
  </span>
</div>

<!-- <div class="menu-layout" *ngIf="isShowMenu"> -->
<div class="menu" [ngClass]="{ 'show': isShowMenu }">
  <div class="breadcrumbs-block">
    <span class="breadcrumbs" (click)="showMenu()">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </div>
  <span class="header-links">
    <a href="https://www.littlesun365.com/website/product_list/1/7/0">基 礎 教 育 拼 圖 系 列</a>
    <a href="https://www.littlesun365.com/website/product_list/2/21/0">有 聲 書 系 列</a>
    <a href="https://www.littlesun365.com/website/product_list/3/11/0">生 活 自 理 順 序</a>
    <a href="https://www.littlesun365.com/website/product_list/4/24/0">情 境 表 達 圖 卡</a>
    <a href="https://www.littlesun365.com/website/product_list/5/15/0">分 類 配 對 圖 卡</a>
    <img src="assets/images/fb-icon.png" (click)="goLink('https://www.facebook.com/littlesun365/', true)">
  </span>
</div>
<!-- </div> -->
