<div class="top-content-layout">
  <div *ngIf="showSofa" class="blue-block"></div>
  <div class="top-content-block">
    <span class="top-content-ribbons"></span>
    <span class="top-content-white"></span>
    <span class="top-content">
      <span class="top-content-left">
        <span class="img" [ngStyle]="{ 'height': setImgHeight() }">
          <img class="star_l" [ngStyle]="{ 'width': setStarWidth('star_l') }" src="assets/images/star1.png">
          <img class="star_r" [ngStyle]="{ 'width': setStarWidth('star_r') }" src="assets/images/star2.png">
        </span>
        <span class="content">放進襪子的不只是想像力</span>
        <span class="content">更是爸爸媽媽給寶貝的未來力</span>
        <span class="top-content-buttons">
          <img *ngIf="showSofa" class="gift1" src="assets/images/gift1.png">
          <img class="btn" (click)="goScroll('why')" src="assets/images/why-card.png">
          <img class="btn" (click)="goScroll('blog')" src="assets/images/blog-recommend.png">
        </span>
      </span>
      <span class="top-content-right" [ngStyle]="{ 'height': setFamilyHeight() }">
        <img *ngIf="!showSofa" class="gift1" src="assets/images/gift1.png">
        <span class="dialog1" *ngIf="showDialog">
          <img src="assets/images/dialog1.png">
          <img class="star" *ngIf="showSofa" src="assets/images/star3.png">
        </span>
        <img *ngIf="showDialog" class="dialog2" src="assets/images/dialog2.png">
        <img class="gift2" src="assets/images/gift2.png">
      </span>
    </span>
  </div>
</div>
