<div class="audiobook-layout">
  <ul class="animation-ul">
    <li class="bg-animation" *ngFor="let block of [1,2,3,4,5,6,7,8,9,10]"></li>
  </ul>
  <ul class="animation-ul-star">
    <li class="animation" *ngFor="let star of [1,2,3,4,5,6,7,8,9,10,1,2,3,4,5,6,7,8,9,10]"></li>
  </ul>
  <div class="audiobook-block">
    <img class="audiobook-logo" src="assets/images/audiobook.png">
    <span class="audiobook-content">
      <span class="two-content">
        <img *ngIf="showImg" src="assets/images/tree2.png">
        <span class="contents">
          <section class="content" (click)="goLink('https://www.littlesun365.com/website/product_list/2/21/0')">
            <span class="content-block">
              <img src="assets/images/audio-card.png">
            </span>
            <span class="content-titles">
              <span class="title">遠離壞野狼</span>
              <span class="cont">保護自己的身體篇</span>
              <span class="cont">親子共讀兒童安全教育</span>
            </span>
          </section>
          <section class="content" (click)="goLink('https://www.littlesun365.com/website/product_detail/2/9/27/93')">
            <span class="content-block">
              <img src="assets/images/audio-card2.png">
            </span>
            <span class="content-titles">
              <span class="title">圖卡讀卡 數量篇</span>
              <span class="cont">我會數正確的數量！</span>
              <span class="cont">１個２輛３顆４隻......</span>
            </span>
          </section>
        </span>
        <img *ngIf="showImg" src="assets/images/tree1.png">
      </span>
    </span>
  </div>
  <div class="trees" *ngIf="!showImg">
    <img src="assets/images/tree2.png">
    <img src="assets/images/tree1.png">
  </div>
</div>
